@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');;

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #b78dad;
}

code {
  font-family: 'VT323', monospace;
}

header {
  position: absolute;

  width: 100%;
  height: 63px;
  left: 0px;
  top: 0px;

  background: #a53986;

  display: flex;  
  justify-content: space-between;

}

.logo {
  width: 120px;
  height: 100%;

  background: #a53986;
}

.menu {
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:20px;

  font-family: 'Jockey One', sans-serif;
}
button {
  width: 140px;
  height: 40px;

  border: none;
  border-radius: 34px;
  background: #4f1a91;

  font-family: "Jockey One";  
  font-size: 20px;
  text-align: center;
  color: #f3ebf7;

  cursor: pointer;
  transition: 0.4s;
  
}

button:hover, .selected{
  background: #a2648a;
}

.user-profile {
  width: 120px;
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 50px;
  cursor: pointer;
}

main {
  width: calc(100vw - 240px);
  height: 640px;
  left: 117px;

  background: #a38192;
  margin: 0 auto;
  margin-top: 224px;
}